
html,body
{
    background-color: #f0f9fe;
    marign:0;
    padding: 0;
}

.head1{
    line-height:7rem;
    text-align: center;
    background-color: #f75000;
    font-size: 2rem;
    width: 100%;
    height: 6rem;
    color: #f0f9fe;
}
.head1 span{
    float: right;
}
#tou
{
float: left;
}
.head2{
    text-align: center;
    line-height: 4rem;
    font-size: 1.8rem;
    color: #000000;
    height: 4rem;
    width: 100%;
}
.category{
    width: auto;
    height: 10rem;
}
.category ul{
    float: left;
    /*height: 3rem;*/
    font-size: 1.5rem;
    list-style: none;
    margin-left: 2.8rem;
}
.category ul li{
    margin-left: 3.5rem;
    margin-top: 1rem;
}
.tuijian{
    clear: both;
}
.tuijian p{
    float: left;
    font-size: 2rem;
    margin-left: 3rem;
    height: 4rem;
}
#more{
    float: right;
    margin-left: 37rem;
    font-size: 1.5rem;

}
.tuijian{
    width: auto;
    height: 36rem;
}
.tuijian ul{
    margin-left: 2.3rem;
    background-color: #FF2F2F;
    float: left;
    height: 15rem;
    font-size: 1.5rem;
    list-style: none;
    width: 17rem;
}
.tuijian ul li img
{
    width: 14rem;
    height: 10rem;
}
.newsong{
    width: auto;
    height: 36rem;
}
.newsong p{
    float: left;
    font-size: 2rem;
    margin-left: 3rem;
}
#newmore{
    float: right;
    margin-left: 40rem;
    font-size: 1.5rem;

}
.newsong ul li img
{
    width: 14rem;
    height: 10rem;
}
.newsong ul{
    margin-top: 2rem;
    margin-left: 2.5rem;
    background-color: #FF2F2F;
    float: left;
    height: 15rem;
    font-size: 1.5rem;
    list-style: none;
    width: 16rem;
    margin-left: 3rem;
}

/*.yuansong{*/
    /*width: auto;*/
    /*height: 30rem;*/
    /*background-color: #FFFFFF;*/
   /*clear: both;*/
/*}*/
/*.yuansong p{*/
    /*font-size: 2rem;*/
    /*margin-left:3rem;*/
/*}*/
/*#yuanmore{*/
    /*float: right;*/
    /*margin-left: 30rem;*/
    /*font-size: 1.5rem;*/
/*}*/
/*.left{*/
    /*width: 30rem;*/
    /*height:20rem;*/
    /*float: left;*/
/*}*/
/*.left dl dd h2{*/
    /*font-size:20px;*/
/*}*/
/*.left dl dt{*/
    /*float: left;*/
/*}*/
/*.left dl dt img{*/
    /*width: 100px;*/
    /*height: 100px;*/
/*}*/
/*.left dl dd{*/
    /*width:280px;*/
   /*height: 100px;*/
    /*float: left;*/
    /*background:blue;*/

/*}*/
/*.right{*/
    /*width: 150px;*/
    /*height: 100px;*/
    /*background: red;*/
    /*float: right;*/
/*}*/
/*.right span{*/
    /*font-size: 50px;*/
    /*margin-right: 50px;*/
/*}*/
.aplayer{
    width: 100%;
    background-color: #f02c71;
}
.zhuanti{
    width: auto;
    height: 30rem;

    clear: both;
}
.zhuanti p{
    margin-top: 2rem;
    float: left;
    font-size: 2rem;
    margin-left: 3rem;
}
.zhuanti p span{
    float: right;
    font-size: 1.5rem;
    margin-left:40rem;
}
.zhuanti1 img{
    margin-top: 2rem;
     width: 100%;
     height: 15rem;
    background-color: #FFFF00;
    clear: both;
 }
