html,body
{
    background-color: #f0f9fe;
    marign:0;
    padding: 0;
}
.head1{
    line-height:7rem;
    text-align: center;
    background-color: #f75000;
    font-size: 2rem;
    width: 100%;
    height: 6rem;
    color: #f0f9fe;
}
#tou
{
    float: left;
}
.head2{
    text-align: center;
    line-height: 4rem;
    font-size: 1.8rem;
    color: #000000;
    height: 4rem;
    width: 100%;
}
.head3 ul li{
    list-style: none;
    float: left;
    line-height: 4rem;
    margin-left: 2rem;
    font-size: 2rem;
    display: block;
}
.head3{
    width: auto;
    height: 4rem;
    /*background-color: #f02c71;*/
}
.jingxuan{
    float: left;
    /*background-color:#00007F;*/
    margin-top: 1.2rem;
}
.jingxuan dl{
    width:100% ;
    height: 13rem;
    clear: both;
}
.jingxuan dl dt{
    float: left;
}
.jingxuan dl dd{
    float: left;
    width: 45rem;
    height: 12rem;
    /*background-color: #FF2F2F;*/
}
.jingxuan dl dd h1{
    font-size: 2.5rem;
}
.jingxuan dl dd span{
    font-size: 1.5rem;
}
